.topItems {
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;

  }

  .contacts{
    display: flex;
    justify-content: space-between;
    margin-bottom: -35px;
  }

  .contacts a{
    text-decoration: none;
    color:#333333;
  }


  .navBar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    align-items: center;
  }
  
  @media only screen and (max-width: 1004px) {
  .contacts{
    text-align: left;
    flex-wrap: wrap-reverse;
    justify-content: start;
    margin: 0px 0 8px 8px;
  }
  .topItems {
    align-items: center;
  }
  .navBar{
    justify-content: space-around;
  }
  .socialIcons{
    margin: -34px 0px 8px 4px;
    align-self: end;
  }

}
  