.mainHome img {
  width: 100%;
}

.mainInfo {
  max-width: 1200px;
  margin: 75px auto;
  display: flex;
  flex-wrap: wrap;
}

.info h1 {
  margin: 30px 0;
  line-height: 40px;
  color: #f20f0f;
  line-height: 43px;
}

.info h2 {
  line-height: 30px;
}

.btn {
  margin: 100px 0 0 213px;
}

.btn a{
  color:white;
  text-decoration: none;
}

.btn a:hover{
  color:#f20f0f;
 
}

.btn>button {
  margin-left: 20px;
}

.quate h2 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 30px 0;
  letter-spacing: 2px;
  font-style: italic;
}

/* Main-Cards */

.cards {
  max-width: 1200px;
  margin: 75px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 370px;
  background-color: #f6f6f6;
  color: #333333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card img {
  width: 100%;
}

.card .container {
  padding: 30px 10px 0px 10px;
}

.card:hover {
  width: 300px;
  background-color: #f6f6f6;
  color: #070707;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}

/* Activities */

.activities {
  background-color: white;
}

.redEl {
  width: 960px;
  height: 18px;
  background-color: #f20f0f;
}

.titleBar {
  max-width: 1567px;
  margin: 0 0 0 auto;
  display: flex;
  padding: 50px 0 30px 0;
}

.title {
  flex-basis: 40%;
}

.activitiesList {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  line-height: 30px;
  padding-bottom: 40px;
}

.rightList {
  flex-basis: 34%;
}

.btnAct {
  text-align: center;
  padding-bottom: 45px;
}

/* Help Info */

.helpInfo {
  background-image: url("/background_articles.svg");
  padding: 50px 0;
}

.allContent {
  max-width: 1200px;
  margin: 0 auto;
}

.titlesInfoSection {
  text-align: center;
  margin: -10px 0px 25px 0px;
}

.titlesInfoSection h2{
  color: #f20f0f;
}

.titlesInfoSection h3 {
  margin-top: 20px;
}

.contentParSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contentParSection div {
  text-align: justify;
  width: 350px;
  height: 350px;
}

.contentParSection button {
  margin-top: 35px;
}

.contentParSection a {
  text-decoration: none;
  color:white;
}

.contentParSection a:hover {
  color:#f20f0f;
  font-weight: bold;
}

.btnInfoPar {
  text-transform: uppercase;
  background-color: #f20f0f;
  color: white;
  border: none;
  padding: 12px 10px;
  font-size: 1em;
  font-family: "Comfortaa", cursive;
}

.btnInfoPar:hover {
  text-transform: uppercase;
  background-color: transparent;
  color: #f20f0f;
  border: 1px solid #f20f0f;
  padding: 12px 10px;
  font-size: 1em;
  font-family: "Comfortaa", cursive;
}

/* Clients */

.clients {
  background-color: white;
}

.clientslogos {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px 0px 120px 0px;
}

.clientslogos div {
  width: 210px;
  height: 100px;
}


/* Mobile */
@media only screen and (max-width: 600px) {
  /* Main - Home */
  .info
  .h1,
  .h2 {
    padding: 0 30px;
  }
  .btn {
    margin: 20px 0 0 0;
    text-align: center;
  }
  .btn button {
    margin-top: 20px;
    margin-left: 0;
  }

  .mainInfo {
    margin: 0px auto;
  }

  /* Main - Cards */
  .card {
    margin: 20px 0;
  }

  /* Main - Activities */
  .title h2 {
    margin: 12px;
  }
  .titleBar {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 50px 0 30px 0;
  }
  .redEl {
    width: auto;
  }
  .rightList {
    flex-basis: 70%;
  }

  .rightList {
    flex-basis: 50%;
    margin: 10px 10px;
  }
  .leftList{
    flex-basis: 50%;
    margin: 10px 10px;
  }

  /* Main - Help Info Section */
  .helpInfo {
    background-size: cover;
  }
  .contentParSection {
    justify-content: center;
  }
  .contentParSection div {
    margin-top: 30px;
  }

  .titlesInfoSection{
    margin: 0px 0px 0px 0px;
  }

  /* Main - Clients */
  .clientslogos {
    flex-direction: column;
    align-content: center;
    padding: 0;
    padding-bottom: 40px;
  }
  .clientslogos div {
    margin: 15px 0;
  }
  
}

/* Tablets */
@media only screen and (max-width: 1007px) {
  /* MAIN */
    /* Main - Home */
    .info
    .h1
    .h2 {
      padding: 0 30px;
    }
    .btn {
      margin: 30px auto;
    }
    .btn button {
      margin: 20px 9px;
    }
  }