.container{
    max-width: 1200px;
    margin:50px auto;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
}

.title{
    max-width: 1200px;
    margin:50px auto;
}

.title h1{
    color: #f20f0f;
}

.left{
   flex-basis: 50%;
}

.right{
    flex-basis: 38%;
}


@media only screen and (max-width: 600px) {
    .left{
        flex-basis: 100%;
        margin-top: 30px;
        padding: 0 20px;
     }
    .right{
        margin:10px;
    }
    .title{
        margin: 50px auto 0 10px;
    }
}
@media only screen and (max-width: 1239px){
    .container{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: normal;
    }
    .right{
        margin: 40px auto;
    }
  }