.container{
    max-width: 1200px;
    margin:50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.title{
    max-width: 1200px;
    margin:50px auto;
}

.title h1{
    color: #f20f0f;
}

.left{
    flex-basis: 35%;
}

.right{
    flex-basis: 50%;
}

.mapContainer{
    display: flex;
    justify-content: flex-end;
}
    
